[Unit]
Description=i3 workspace naming/manager

[Service]
Type=simple
ExecStart=/home/enck/.bin/i3workspacer.py
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
