[Unit]
Description=System status management

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/home/enck/.bin/status

[Install]
WantedBy=multi-user.target
