[include]
    path = ~/.machine/gitconfig
    path = ~/.env/workstations/gitconfig
[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global
[grep]
    lineNumber = true
[log]
    date = iso-strict
[pull]
    rebase = false
[push]
    default = simple
[status]
    short = true
    branch = true
    showStash = true
    showUntrackedFiles = all
[user]
    name = Sean Enck
    email = enckse@voidedtech.com
    signingKey = 58C85D8DEA8742AFC981BE793058639FBCC82EE9
[help]
    format = man
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[url "center:/mnt/storage/repositories/git/"]
    insteadOf = local:
[url "voidedtech.com:/mnt/data/git/"]
    insteadOf = enckse:
[url "git@github.com:enckse/"]
    insteadOf = github:
[url "gitea.voidedtech.com:"]
    insteadOf = repos:
