/*
!schroot/
!pacman*
pacman.d/gnupg/
pacman.d/hooks/
!crypttab
!fstab
!hostname
!locale.gen
!mkinitcpio*
!nftables.conf
!opensc.conf
!resolv.conf
!default/
!inputrc
!profile.d/
!X11/
*.pacnew
!sudoers
subgid
subuid
!systemd/
systemd/*
!systemd/system/
systemd/system/*
!systemd/system/*.service
!systemd/system/*.path
!systemd/system/*.timer
systemd/system/dbus*
!skel/
skel/*
!skel/*.git
