[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.config/voidedtech/gitignore
[pager]
    log = /Users/enck/.nix-profile/bin/diff-so-fancy | less
    diff = /Users/enck/.nix-profile/bin/diff-so-fancy | less
    show = /Users/enck/.nix-profile/bin/diff-so-fancy | less
[grep]
    lineNumber = true
[log]
    date = iso-strict
[pull]
    rebase = false
[push]
    default = simple
[status]
    short = true
    branch = true
    showStash = true
    showUntrackedFiles = all
[user]
    name = Sean Enck
    email = enckse@voidedtech.com
    signingKey = 58C85D8DEA8742AFC981BE793058639FBCC82EE9
[help]
    format = man
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[url "bookend:/mnt/Storage/repositories/git/"]
    insteadOf = bookend:
[url "git@git.voidedtech.com:~/public/"]
    insteadOf = enckse:
[diff "lb"]
    textconv = lb diff
