/*
!.local/
.local/*
!.local/bin/
!.local/git/
!.config/
.config/*
!.config/systemd
.config/systemd/*
!.config/systemd/user
.config/systemd/user/*
!.config/systemd/user/*.service
!.config/systemd/user/*.path

*.pyc
__pycache__
