[core]
    editor = nvim
    pager = delta
    autocrlf = input
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    features = decorations
    keep-plus-minus-markers = true
    line-numbers = true
[diff]
    colorMoved = default
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[grep]
    lineNumber = true
[log]
    date = iso-strict
[pull]
    rebase = false
[push]
    default = simple
[status]
    short = true
    branch = true
    showStash = true
    showUntrackedFiles = all
[user]
    name = Sean Enck
    email = enckse@voidedtech.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDzCv14UXSUoeZOXsSgIJpwzqgP9G5QvtJrpUdnS+wxF
[diff "lb"]
    textconv = lb conv
[help]
    format = man
[merge]
    conflictstyle = diff3
[url "store.voidedtech.com:/mnt/store/active/git/private/"]
    insteadOf = private:
[url "store.voidedtech.com:/mnt/store/active/git/upstream/"]
    insteadOf = public:
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
