/*
!.bash_aliases
!.bash_profile
!.bashrc
!.gitignore
!.gitconfig
!.vimrc
!.zshrc

# allow looking into _some_ dirs
!.config/
.config/*
!.ssh/
.ssh/*
!.vim/
.vim/*

!.config/bat/
!.config/blap/
!.config/efm-langserver/
!.config/fish/
!.config/git/
!.config/helix/
!.config/kitty/
!.config/mypy/
# nvim has areas of no interest (plugins)
!.config/nvim/
.config/nvim/pack
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/rofi/
!.config/shellrc/
!.config/sway/
!.config/vfu/
!.config/waybar/
!.config/wezterm/
!.ssh/allowed_signers
!.vim/plugin/
