[core]
    editor = vim
    autocrlf = input
[push]
    default = simple
[url "git@github.com:enckse/"]
    insteadOf = enckse:
[url "ssh://aur@aur.archlinux.org/"]
    insteadOf = aur:
[commit]
    gpgsign = true
[include]
    path = ~/.synced/configs/gitconfig.priv
