/*
!.local/
.local/*
!.local/bin/
!.local/lib/
!.local/PKGBUILDs

.local/PKGBUILDs/**/*
!.local/PKGBUILDs/**/
!.local/PKGBUILDs/**/PKGBUILD
!.local/PKGBUILDs/**/auto
!.local/PKGBUILDs/**/deps
!.local/PKGBUILDs/**/*.patch
!.local/PKGBUILDs/**/*.service
!.local/PKGBUILDs/**/*.path
!.local/PKGBUILDs/**/*.conf
!.local/PKGBUILDs/**/*.sh

*.pyc
__pycache__
