window {
margin: 5px;
border: 2px solid white;
background: black;
font-family: Roboto, Helvetica, Arial, sans-serif;
color: white;
}

#input {
margin: 2px;
background: #c0c0c0;
}

#inner-box {
margin: 10px;
padding: 10px;
}
