[core]
    editor = vim
    autocrlf = input
[grep]
    lineNumber = true
[log]
    date = iso-strict
[pull]
    rebase = false
[push]
    default = simple
[status]
    short = true
    branch = true
    showStash = true
    showUntrackedFiles = all
[user]
    name = Sean Enck
    email = enckse@voidedtech.com
    signingKey = 58C85D8DEA8742AFC981BE793058639FBCC82EE9
[help]
    format = man
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[pager]
    log = diff-highlight | less
    diff = diff-highlight | less
    show = diff-highlight | less
[diff "lb"]
    textconv = lb gitdiff
