             configuration {
                 drun {
                    /** Scan the current users desktop for desktop files. */
                    scan-desktop: true;
                    /** Parse user desktop files. */
                    parse-user:   true;
                    /** Parse system desktop files. */
                    parse-system: false;
                 }
              }

