[Unit]
Description=simple timeskew detector/handler

[Service]
Type=simple
ExecStart=/usr/local/bin/timeskew --daemon
Restart=on-failure
ProtectHome=true
ReadOnlyPaths=/

[Install]
WantedBy=multi-user.target
