[Files]
Bind=/opt/shared:/root/workspace
Bind=/opt/shared:/home/enck/workspace
Bind=/opt/shared
Bind=/var/cache/pacman
BindReadOnly=/root/.gnupg
BindReadOnly=/home/enck/.gnupg
Bind=/home/enck/.cache/pkgs:/home/enck/.cache/naaman/pkgs
