[core]
    hooksPath = ~/.local/secrets/hooks/git
[user]
    email = sean@ttypty.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILj3JkY/21zkiwbN5yGeYhbrfn6GfYU1ufieYFNPTUuP
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
