[Desktop Entry]
Comment=
Exec=/bin/bash /home/enck/.local/bin/applications.sh fastmail
Icon=kube-mail
Name=Fastmail
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
