[Desktop Entry]
Version=1.0
Name=TigerVNC Viewer
GenericName=TigerVNC Viewer
Comment=Tiger VNC Viewer
Exec=flatpak run org.tigervnc.vncviewer
Terminal=false
Type=Application
Categories=Network;
Keywords=web;internet;
